<div>
	<h3>Create Node</h3>

	<mat-form-field>
	  	<mat-select placeholder="Choose Node Type" [(ngModel)]="selectedNodeType" (selectionChange)="createEmptyFormData($event)">
	    	<mat-option *ngFor="let nodeType of selectableNodeTypes" [value]="nodeType">
	      		{{ nodeType }}
	    	</mat-option>
	 	</mat-select>
	</mat-form-field>

	<div *ngIf="selectedNodeType == 'Project'">
		<mat-form-field class="full-width">
	    	<input [(ngModel)]="createNodeFormData.name" matInput maxlength="150" placeholder="Name" />
	  	</mat-form-field>

	  	<mat-form-field class="full-width">
	    	<textarea matInput [(ngModel)]="createNodeFormData.description" placeholder="Description"></textarea>
	  	</mat-form-field>

	  	<mat-form-field class="full-width">
		  <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="createNodeFormData.start">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>

	<div *ngIf="selectedNodeType == 'Deliverable'">
		<mat-form-field class="full-width">
	    	<input [(ngModel)]="createNodeFormData.name" matInput maxlength="150" placeholder="Name" />
	  	</mat-form-field>
	  	<mat-form-field class="full-width">
		  <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="createNodeFormData.due_date">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>

	<div *ngIf="selectedNodeType == 'Issue'">
		<mat-form-field class="full-width">
			<input [(ngModel)]="createNodeFormData.name" matInput maxlength="150" placeholder="Name" />
		</mat-form-field>
		<mat-form-field class="full-width">
			<input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="createNodeFormData.due_date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field class="full-width">
			<mat-select matInput placeholder="issue severity" [(ngModel)]="createNodeFormData.severity">
				<mat-option *ngFor="let severity of severityList" [value]="severity.value">
					{{ severity.text }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div *ngIf="selectedNodeType == 'Risk'">
		<mat-form-field class="full-width">
			<input [(ngModel)]="createNodeFormData.name" matInput maxlength="150" placeholder="Name" />
		</mat-form-field>
		<mat-form-field class="full-width">
			<input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="createNodeFormData.due_date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field class="full-width">
			<mat-select matInput placeholder="risk impact" [(ngModel)]="createNodeFormData.impact">
				<mat-option *ngFor="let impact of impactList" [value]="impact.value">
					{{ impact.text }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="full-width">
			<mat-select matInput placeholder="risk probability" [(ngModel)]="createNodeFormData.probability">
				<mat-option *ngFor="let probability of probabilityList" [value]="probability.value">
					{{ probability.text }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div *ngIf="selectedNodeType == 'Meeting'">
		<mat-form-field class="full-width">
			<input [(ngModel)]="createNodeFormData.name" matInput maxlength="150" placeholder="Name" />
		</mat-form-field>
		<mat-form-field class="full-width">
			<input matInput [matDatepicker]="picker" placeholder="Meeting Date" [(ngModel)]="createNodeFormData.date_time">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
		<mat-form-field class="full-width">
			<input [(ngModel)]="createNodeFormData.venue" matInput maxlength="150" placeholder="Venue" />
		</mat-form-field>
		
	</div>

	<div>
		<button mat-flat-button color="primary" (click)="createNode()">Create Node</button>
	</div>
</div>