<tree-root [nodes]="nodes" [options]="options" (moveNode)="onMoveNode($event)">
  <ng-template #treeNodeTemplate let-node let-index="index">
    <div class="edit my-container" *ngIf="node.data.isEditing">
      
      <input class="node-name-input" type="text" [(ngModel)]="editValue">
      <div class="buttons">
        <a (click)="saveNode(node)">
          save
        </a>
        <a (click)="cancelNode(node)">
          cancel
        </a>
      </div>
    </div>
    <div class="my-container" *ngIf="!node.data.isEditing">
      <img *ngIf="node.data.node_type=='Team'" src="../../assets/icons/Team-T-Icon.svg" height="15" width="15"/>
      <img *ngIf="node.data.node_type=='Project'" src="../../assets/icons/Project-P-Icon.png" height="15" width="15"/>
      
      <div class="node-name">{{ node.data.name }}</div>
      <div>
        <button mat-icon-button (click)="startAdd(node)">
          <mat-icon> add </mat-icon>
        </button>
        <button mat-icon-button class="white-icon" (click)="startEditing(node)">
          <mat-icon> edit </mat-icon>
        </button>
        <button mat-icon-button class="white-icon" (click)="viewDetail(node)">
          <mat-icon> navigate_next </mat-icon>
        </button>
        <!-- <a class="button-red" (click)="removeNode(node)">
          <i class="material-icons"> clear </i>
        </a> -->
      </div>
    </div>

  </ng-template>
</tree-root>