
:host {
    padding: 10px;
}


.unread-badge {
    background-color: #ffb300;
    color: white;
}

.my-container {
    display: flex;
    // background: rgb(105, 105, 105);
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    .node-label {
        width: auto;
        font-size:x-small;
        border-radius: 5px;
        padding: 2px;
        .team {
            float: left;
            margin: 0;
            background-color: black;
            color: white;
        }
        .project {
            float: left;
            margin: 0;
            background-color: rgb(46, 41, 117);
            color: rgb(245, 255, 244);
        }
        .topic {
            float: left;
            margin: 0;
            color: rgb(43, 43, 43);
            .deliverable {
                background-color: rgb(0, 200, 200);
            }
            .issue {
                background-color: rgb(255, 100, 0);
            }
            .risk {
                background-color: rgb(230, 180, 0);
            }
            .meeting {
                padding: 5px;
                border-radius: 10px;
                background-color: rgb(20, 20, 150);
                color: rgb(224, 224, 224);
            }
        }
    
    }
    .node-name {
        flex: 1;
        flex-grow: 7;
        margin-left: 5px;
        margin-right: 20px;
        text-align: left;
        color: rgb(100, 100, 100);
    }
    
    .buttons {
        display: flex;
        align-items: center;
        flex-grow: 2;
        margin-left: 5px;
        justify-content: flex-end;
        // width: 100px;
        color: rgba(156, 155, 155, 0.685);
        
        .yellow-icon {
            color: #ffb300 !important;
        }
        a {
            padding: 1px 5px;
            line-height: 1.5;
            border-radius: 3px;
            color: #fff;
            // background-color: #428bca;
            // border-color: #357ebd;
            margin-left: 10px;
            display: inline-block;
            display: flex;
            height: 100%;
            padding: 3px;
            padding-left: 5px;
            i.material-icons {
                color: white;
            }
        }
        a.button-red {
            background-color: #d9534f;
        }
        a.button-green {
            background-color: #5cb85c;
        }
        a.button-blue {
            background-color: #428bca;
        }
    }
    
}

.flex-item {
    // background: tomato;
    padding: 5px;
    // width: 200px;
    // height: 150px;
    margin-left: 10px;
    
    // line-height: 150px;
    color: white;
    // font-weight: bold;
    // font-size: 3em;
    // text-align: center;
  }
::ng-deep tree-root {
    .node-wrapper.ng-star-inserted {
        display: flex;
        align-items: center;
        border: 1px solid #dae2ea;
        border-style: none none none solid;
        border-radius: 0px 0px 0px 20px;
        background: rgb(243, 243, 243);
        color: #546b79;
    }
    tree-node-expander {
        padding-left: 10px;
    }
    .node-content-wrapper {
        width: 100%;
    }
    .node-content-wrapper-active,
    .node-content-wrapper-focused,
    .node-content-wrapper:hover {
        background: transparent !important;
        box-shadow: none !important;
    }
}



