.white-icon {
    color: rgba(146, 146, 146, 0.925);
    margin-left: 5px;
  }

:host {
    padding: 24px;
}

.yellow-icon {
    color: #ffb300 !important;
}

.unread-badge {
    background-color: #ffb300;
    color: white;
}

.my-container {
    display: flex;
    // background: rgb(105, 105, 105);
    align-items: center;
    
    .node-name {
        flex: 1;
        margin-left: 20px;
        margin-right: 40px;
        
        color: rgb(100, 100, 100);
    }
    
    .buttons {
        display: flex;
        align-items: center;
        margin-left: 5px;
        color: rgba(255, 255, 255, 0.685);
        a {
            padding: 1px 5px;
            line-height: 1.5;
            border-radius: 3px;
            color: #fff;
            // background-color: #428bca;
            // border-color: #357ebd;
            margin-left: 10px;
            display: inline-block;
            display: flex;
            height: 100%;
            padding: 3px;
            padding-left: 5px;
            i.material-icons {
                color: white;
            }
        }
        a.button-red {
            background-color: #d9534f;
        }
        a.button-green {
            background-color: #5cb85c;
        }
        a.button-blue {
            background-color: #428bca;
        }
    }
}

.flex-item {
    // background: tomato;
    padding: 5px;
    // width: 200px;
    // height: 150px;
    margin-left: 10px;
    
    // line-height: 150px;
    color: white;
    // font-weight: bold;
    // font-size: 3em;
    // text-align: center;
  }
::ng-deep tree-root {
    .node-wrapper.ng-star-inserted {
        display: flex;
        align-items: center;
        border: 1px solid #dae2ea;
        border-radius: 50px 5px 5px 50px;
        background: rgb(233, 233, 233);
        color: #546b79;
    }
    tree-node-expander {
        padding-left: 10px;
    }
    .node-content-wrapper {
        width: 100%;
    }
    .node-content-wrapper-active,
    .node-content-wrapper-focused,
    .node-content-wrapper:hover {
        background: transparent !important;
        box-shadow: none !important;
    }
}

div.node-team {
    width: auto;
    float: left;
    padding: 5px;
    background-color: black;
    color: white;
    margin: 0;
    border-radius: 10px;
    font-size:small;
}
div.node-project {
    width: auto;
    float: left;
    padding: 5px;
    background-color: rgb(46, 41, 117);
    color: rgb(245, 255, 244);
    margin: 0;
    border-radius: 10px;
    font-size:small;
}

.node-topic {
    width: auto;
    float: left;
    padding: 5px;
    color: rgb(43, 43, 43);
    margin: 0;
    border-radius: 10px;
    font-size:x-small;
}

.deliverable {
    background-color: rgb(0, 200, 200);
}
.issue {
    background-color: rgb(255, 100, 0);
}
.risk {
    background-color: rgb(230, 180, 0);
}
.meeting {
    background-color: rgb(20, 20, 150);
    color: rgb(224, 224, 224);
}

