<div>
	<h3>Create Task</h3>

	<div>
		<mat-form-field class="full-width">
		  <input [(ngModel)]="taskTitle" matInput placeholder="Task Title">
		</mat-form-field>
	</div>

	<div *ngIf="taskLists && taskLists.length > 0">
		<mat-form-field>
		    <mat-select [(ngModel)]="selectedTaskList">
		        <mat-option *ngFor="let taskList of taskLists" [value]="taskList._id">
		            {{ taskList.title }}
		        </mat-option>
		    </mat-select>
		</mat-form-field>
	</div>

	<user-search [searchUrl]="searchUrl" (userSelected)="userSelected($event)"></user-search>

	<div>
		<mat-form-field class="full-width">
		  <input matInput [matDatepicker]="picker" placeholder="Due Date" [(ngModel)]="taskDueDate">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>
	<div>
		<button [disabled]="filteredAssignableUsers.length == 0" mat-flat-button color="primary" (click)="createTask()">Create Task</button>
	</div>
</div>