<div>
	<h3>Create Task</h3>

	<div>
		<mat-form-field class="full-width">
		  <input [(ngModel)]="taskTitle" matInput placeholder="Task Title">
		</mat-form-field>
	</div>

	<mat-form-field class="full-width">
    	<input (input)="filterUsers($event.target.value)" type="text" placeholder="Task Assignee" matInput [matAutocomplete]="auto" [(ngModel)]="selectedUser">
	    <mat-autocomplete #auto="matAutocomplete">
	      <mat-option *ngFor="let option of filteredAssignableUsers" [value]="option.username">
					<span>{{option.fullname}}</span> |
					<small>email: {{option.email}} |
						username: {{option.username}}
					</small>
	      </mat-option>
	    </mat-autocomplete>
  	</mat-form-field>

	<div>
		<mat-form-field class="full-width">
		  <input matInput [matDatepicker]="picker" placeholder="Due Date" [(ngModel)]="taskDueDate">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>
	<div>
		<button [disabled]="filteredAssignableUsers.length == 0" mat-flat-button color="primary" (click)="createTask()">Create Task</button>
	</div>
</div>