<div>
	<h3>Reassign Task</h3>

	<mat-form-field class="full-width">
    	<input (input)="filterUsers($event.target.value)" type="text" placeholder="Task Assignee" matInput [matAutocomplete]="auto" [(ngModel)]="selectedUser">
	    <mat-autocomplete #auto="matAutocomplete">
	      <mat-option *ngFor="let option of filteredAssignableUsers" [value]="option.username">
	        {{option.username}}
	      </mat-option>
	    </mat-autocomplete>
  	</mat-form-field>

  	<div>
		<button mat-flat-button color="primary" (click)="reassignTask()">Reassign Task</button>
	</div>
</div>