<div *ngIf="nodeID">
	<button mat-icon-button class="white-icon" (click)="openCreateTasksDialog()" >
        <mat-icon> add </mat-icon>
    </button>

    <div class="table-section">
    	<table style="table-layout: fixed;" class="table table-general">
    		<thead>
    			<tr>
    				<th>Title</th>
    				<th>Assignee</th>
    				<th>Due Date</th>
    				<th>Task List</th>
    				<th>Status</th>
    				<th>Utils</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr *ngFor="let task of assignedTasks">
    				<td>{{ task.title }}</td>
    				<td>{{ task.assignee.fullname }}</td>
    				<td>{{ task.due_date }}</td>
    				<td>{{ task.task_list.title }}</td>
    				<td>
    					<mat-form-field style="max-width: 100%;" *ngIf="getUser()._id == task.assignee._id">
							<mat-select [(value)]="task.status" (selectionChange)="changeTaskStatus($event.value, task)">
							<mat-option *ngFor="let status of taskStatusList" [value]="status.value">
								{{ status.text }}
							</mat-option>
							</mat-select>
						</mat-form-field>

						<span *ngIf="getUser()._id != task.assignee._id">
			        		{{ taskStatusMap[task.status] }}
			        	</span>
			        </td>
			        <td>
			        	<button mat-icon-button class="white-icon" (click)="deleteTask(task)" >
					        <mat-icon> delete </mat-icon>
					    </button>
					    <button mat-icon-button class="white-icon" (click)="openEditDialog(task)" >
					        <mat-icon> edit </mat-icon>
					    </button>
					</td>
				</tr>
			</tbody>
    	</table>
    </div>
</div>