.full-width {
	width: 100%;
}

.example-form {
	min-width: 75px;
	max-width: 150px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}


::ng-deep .cdk-overlay-pane {
	/* Do you changes here */
	min-width:450px;
}