<div *ngIf="nodeID">

	<div class="table-section">
		<table style="table-layout: fixed;" class="table table-general">
			<thead>
				<tr>
					<th>User Name</th>
					<th>Role</th>
					<th>
						<button mat-icon-button class="white-icon" (click)="openAddDialog()" *ngIf="canAddUser()" >
					        <mat-icon> add </mat-icon>
					    </button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of userList">
					<td>
						<img class="avatar" *ngIf="user != null && user.avatar == null" src="./assets/images/user.png" alt="">
						<img class="avatar" *ngIf="user != null && user.avatar != null" [src]="user.avatar" alt="">
						<span>{{ user.fullname }}</span>
					</td>
					<td>
						<mat-form-field *ngIf="canEditUserRoles() && !(currentUserRole == 'team_admin' && user._id == currentUser._id) && !(nodeOwner == 'team@'+user.username)">
						  	<mat-select [(value)]="user.role" (selectionChange)="assignRole($event.value, user)">
						    	<mat-option *ngFor="let role of assignableRoles" [value]="role">
						      		{{ role }}
						   		</mat-option>
						 	</mat-select>
						</mat-form-field>
						<span *ngIf="canEditUserRoles() && (currentUserRole == 'team_admin' && user._id == currentUser._id)">
			        		{{ user.role }}
			        	</span>
						<span *ngIf="!canEditUserRoles()">
			        		{{ user.role }}
			        	</span>
					</td>
					<td>
						<button mat-icon-button class="white-icon" (click)="removeUserPermissions(user)" *ngIf="canRemoveUsers() && !(currentUserRole == 'team_admin' && user._id == currentUser._id) && !(nodeOwner == 'team@'+user.username)">
					        <mat-icon> delete </mat-icon>
					    </button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>