<div>
	<h1>Permissions - {{ userList }} {{ currentUserRole }}</h1>
</div>

<!-- TODO: Add the add user functionality -->

<div>
	<table mat-table [dataSource]="userList">
		<ng-container matColumnDef="username">
	        <th mat-header-cell *matHeaderCellDef> Username </th>
	        <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
	    </ng-container>

	    <ng-container matColumnDef="role">
	        <th mat-header-cell *matHeaderCellDef>Role</th>
	        <td mat-cell *matCellDef="let user"> {{ user.role }} </td>
	    </ng-container>

	    <ng-container matColumnDef="controlsColumn" >
	    	<th mat-header-cell *matHeaderCellDef>
	    		<button mat-icon-button class="white-icon" (click)="openAddDialog()" *ngIf="currentUserPermissions.indexOf('add_user') >= 0" >
			        <mat-icon> add </mat-icon>
			    </button>
	    	</th>
	    	<td mat-cell *matCellDef="let user">
	    		<button mat-icon-button class="white-icon" *ngIf="currentUserPermissions.indexOf('edit_role') >= 0">
			        <mat-icon> edit </mat-icon>
			    </button>
			    <button mat-icon-button class="white-icon" (click)="removeUserPermissions(user)" *ngIf="currentUserPermissions.indexOf('remove_user') >= 0">
			        <mat-icon> delete </mat-icon>
			    </button>
	    	</td>
	    </ng-container>

	    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	</table>
</div>