<div class="content-board">
  {{ card.title}}
</div>

<!--
<div class="list-card-details">

    <div class="list-card-sort-handle">
        <mat-icon mat-font-icon="icon-cursor-move" class="icon s16"></mat-icon>
    </div>

    <div class="list-card-name">{{card.title}}</div>

</div>

<div class="list-card-footer" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="start center">

        <span *ngIf="card.content !== ''"
              class="list-card-footer-item" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="s-18">description</mat-icon>
        </span>

    </div>

    <div fxLayout="row" fxLayoutAlign="end center">

    </div>
</div>
-->