<app-nodepage></app-nodepage>
<mat-divider></mat-divider>

<mat-tab-group>
    <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">details</mat-icon>
            <span class="hide-text">Details</span>
        </ng-template>
        <app-node-edit></app-node-edit>
    </mat-tab>

    <mat-tab *ngIf="nodeType!=='Topic'"> 
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">dashboard</mat-icon>
            <span class="hide-text">Dashboard</span>
        </ng-template>
        <!-- Team Dashboard -->
        <team-dashboard *ngIf="nodeType == 'Team'" [nodeID]="nodeID"></team-dashboard>

        <!-- Project Dashboard + Corresponding topic list -->
        <project-dashboard *ngIf="nodeType == 'Project'"></project-dashboard>
    </mat-tab>

    <mat-tab *ngIf="nodeType!=='Topic'"> 
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">navigation</mat-icon>
            <span class="hide-text">Tree</span>
        </ng-template>
        <app-tree-structure></app-tree-structure>
    </mat-tab>

    <mat-tab *ngIf="nodeType!=='Team'"> 
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">chat</mat-icon>
            <span class="hide-text">Chat</span>
        </ng-template>
        <app-chat [nodeID]="nodeID" [nodeType]="nodeType"></app-chat>
    </mat-tab>

    <mat-tab *ngIf="nodeType!=='Team'"> 
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">check_box</mat-icon>
            <span class="hide-text">Tasks</span>
        </ng-template>
        <app-tasks></app-tasks>
    </mat-tab>

    <mat-tab *ngIf="nodeType=='Project'"> 
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">view_column</mat-icon>
            <span class="hide-text">Scrumboard</span>
        </ng-template>
        <app-scrumboard></app-scrumboard>
    </mat-tab>

    <mat-tab *ngIf="nodeType!=='Team'"> 
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">attachment</mat-icon>
            <span class="hide-text">Documents</span>
        </ng-template>
        <app-documents-list></app-documents-list>
    </mat-tab>

    <mat-tab> 
        
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">accessibility</mat-icon>
            <span class="hide-text">Permissions</span>
        </ng-template>
        <app-permissions></app-permissions>
    </mat-tab>


</mat-tab-group>
  

<topics-list [parentNodeID]="nodeID" [parentNodeType]="nodeType" [topicType]="contentType" *ngIf="(contentType=='Deliverable' || contentType=='Risk' || contentType=='Issue') && nodeType == 'Project'"></topics-list>










