<app-node-breadcrumbs></app-node-breadcrumbs>

<div>
  <h2>{{nodeID}}</h2>
</div>
<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="0" dynamicHeight>
  <mat-tab *ngIf="nodeType !== 'Topic'" label="Tree"> 
    <app-tree-structure></app-tree-structure> 
  </mat-tab>
  <mat-tab label="Content" *ngIf="nodeType != 'Team'" >  
    <app-node-content *ngIf="selectedIndex == 1"></app-node-content> 
  </mat-tab>
  <!-- Add more mat tabs here for different node Types -->
  <mat-tab label="Conversation"> 
    <!--<app-chat></app-chat>-->
  </mat-tab>
  <mat-tab label="Tasks"> 
    <app-tasks></app-tasks>
  </mat-tab>
  <mat-tab label="Documents">
    <app-documents-list></app-documents-list>
  </mat-tab>
  <mat-tab label="Permissions">
  	<app-permissions></app-permissions>
  </mat-tab>
</mat-tab-group>
