<!-- Team Edit Block -->
<div class="general-form">

	<div *ngIf="node.node_type == 'Team'">

	    <div class="general-group">
	        <label>Name</label>
	        <input type="text" [(ngModel)]="node.name" class="form-control">
	    </div>
	    <div class="general-group">
	        <label>User Linked</label>
	        <input [(ngModel)]="node.user_linked" type="text" class="form-control" disabled>
	    </div>
	    <div class="general-group">
	        <label>User Team</label>
	        <input [(ngModel)]="node.user_team" type="text" class="form-control">
	    </div>
	    <div class="general-group">
	        <label>Created At</label>
	        <div class="datepiker-wrap">
	            <input type="text" [(ngModel)]="node.created_at" class="form-control datepicker">
	        </div>
	    </div>

	</div>

	<input type="submit" value="Save" class="btn btn-info" (click)="saveContent()">
	<!-- Old Submit
	<button mat-raised-button color="primary" (click)="saveContent()">Save</button>
	
	<div>
		<mat-form-field>
		  <input matInput placeholder="Name" [(ngModel)]="node.name">
		</mat-form-field>
	</div>

	<div>
		<mat-form-field>
		  <input matInput placeholder="User Linked" [(ngModel)]="node.user_linked" disabled>
		</mat-form-field>
	</div>

	<div>
		<mat-form-field>
		  <input matInput placeholder="User Team" [(ngModel)]="node.user_team">
		</mat-form-field>
	</div>
	
	<div>
		<mat-form-field>
		  <input matInput [matDatepicker]="picker" placeholder="Created At" [(ngModel)]="node.created_at" disabled>
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>
	-->
</div>


<!-- Project Edit Block -->
<div *ngIf="node.node_type == 'Project'">

	<div>
		<mat-form-field>
		  <input matInput placeholder="Name" [(ngModel)]="node.name">
		</mat-form-field>
	</div>

	<div>
		<mat-form-field>
		  <input matInput placeholder="Node Description" [(ngModel)]="node.description">
		</mat-form-field>
	</div>

	<div class="quill-container">
		<label>Content</label>
		<quill-editor 
			[sanitize]="true" 
			[modules]="editor_modules"
			[(ngModel)]="node.content">
		</quill-editor>
	</div>

	<div>
		<mat-form-field>
		  <input matInput [matDatepicker]="startPicker" placeholder="Planned Start" [(ngModel)]="node.start">
		  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
		  <mat-datepicker #startPicker></mat-datepicker>
		</mat-form-field>
	</div>

	<div>
		<mat-form-field>
		  <input matInput [matDatepicker]="createdAtPicker" placeholder="Created At" [(ngModel)]="node.created_at" disabled>
		  <mat-datepicker-toggle matSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
		  <mat-datepicker #createdAtPicker></mat-datepicker>
		</mat-form-field>
	</div>

</div>


<!-- Topic Edit Block -->

<div *ngIf="node.node_type == 'Topic'">
	<!-- Deliverable edit block -->
	<div *ngIf="node.topic_type == 'Deliverable'">
		<div>
			<mat-form-field>
			  <input matInput placeholder="Node Name" [(ngModel)]="node.name">
			</mat-form-field>
		</div>

		<div class="quill-container">
			<label>Content</label>
			<quill-editor [sanitize]="true" [(ngModel)]="node.content"></quill-editor>
		</div>

		<div>
			<mat-form-field>
			  <input matInput [matDatepicker]="picker" placeholder="Due Date" [(ngModel)]="node.due_date">
			  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			  <mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>
	</div>

	<!-- Issue edit block -->
	<div *ngIf="node.topic_type == 'Issue'">
		<div>
			<mat-form-field>
			  <input matInput placeholder="Node Name" [(ngModel)]="node.name">
			</mat-form-field>
		</div>

		<div class="quill-container">
			<label>Content</label>
			<quill-editor [sanitize]="true" [(ngModel)]="node.content"></quill-editor>
		</div>

		<!-- TODO - create a assignee field (user select with a dropdown list search) -->

		<div>
			<mat-form-field class="full-width">
			<mat-select matInput placeholder="issue severity" [(ngModel)]="node.severity">
				<mat-option *ngFor="let severity of severityList" [value]="severity.value">
					{{ severity.text }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		</div>

		<div>
			<mat-form-field>
			  <input matInput [matDatepicker]="picker" placeholder="Due Date" [(ngModel)]="node.due_date">
			  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			  <mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>
	</div>

	<!-- Risk edit block -->
	<div *ngIf="node.topic_type == 'Risk'">
		<div>
			<mat-form-field>
				<input matInput placeholder="Node Name" [(ngModel)]="node.name">
			</mat-form-field>
		</div>

		<div class="quill-container">
			<label>Content</label>
			<quill-editor [sanitize]="true" [(ngModel)]="node.content"></quill-editor>
		</div>

		<!-- TODO - create a assignee field (user select with a dropdown list search) -->

		<div>
			<mat-form-field class="full-width">
				<mat-select matInput placeholder="Risk Impact" [(ngModel)]="node.impact">
					<mat-option *ngFor="let impact of impactList" [value]="impact.value">
						{{ impact.text }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field class="full-width">
				<mat-select matInput placeholder="Risk Probability" [(ngModel)]="node.probability">
					<mat-option *ngFor="let probability of probabilityList" [value]="probability.value">
						{{ probability.text }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field>
				<input matInput [matDatepicker]="picker" placeholder="Due Date" [(ngModel)]="node.due_date">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>
	</div>

	<!-- Meeting edit block -->
	<div *ngIf="node.topic_type == 'Meeting'">
		<div>
			<mat-form-field>
				<input matInput placeholder="Node Name" [(ngModel)]="node.name">
			</mat-form-field>
		</div>

		<div class="quill-container">
			<label>Content</label>
			<quill-editor [sanitize]="true" [(ngModel)]="node.content"></quill-editor>
		</div>

		<!-- TODO - create a assignee field (user select with a dropdown list search) -->
		
		

		<div>
			<!-- mat datetime picker for meeting time and date -->
		</div>
	</div>

</div>