<app-nodepage *ngIf="contentType != 'chat'"></app-nodepage>
<mat-divider *ngIf="contentType != 'chat'"></mat-divider>

<!-- Team Dashboard -->
<team-dashboard *ngIf="contentType=='dashboard' && nodeType == 'Team'" [nodeID]="nodeID"></team-dashboard>

<!-- Project Dashboard + Corresponding topic list -->
<project-dashboard *ngIf="contentType=='dashboard' && nodeType == 'Project'"></project-dashboard>
<topics-list [parentNodeID]="nodeID" [parentNodeType]="nodeType" [topicType]="contentType" *ngIf="(contentType=='Deliverable' || contentType=='Risk' || contentType=='Issue') && nodeType == 'Project'"></topics-list>

<app-node-edit *ngIf="contentType=='edit'"></app-node-edit>
<app-chat [nodeID]="nodeID" [nodeType]="nodeType" *ngIf="contentType=='chat'"></app-chat>
<app-tree-structure *ngIf="contentType=='tree'"></app-tree-structure>
<app-permissions *ngIf="contentType=='permissions'"></app-permissions>
<app-documents-list *ngIf="contentType=='documents'"></app-documents-list>
<app-tasks *ngIf="contentType=='tasks'"></app-tasks>
<app-scrumboard *ngIf="contentType=='board' && nodeType == 'Project'"></app-scrumboard>


