<app-nodepage class="hide-text"></app-nodepage>

<!-- ***********method 1 which doesn't have scrolling feature ************* -->
<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
        [routerLink]="['details']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">details</mat-icon>
        <span class="hide-text">Details</span>
    </a>
    <a mat-tab-link *ngIf="nodeType == 'Team'"
        [routerLink]="['teamDashboard']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">dashboard</mat-icon>
        <span class="hide-text">Dashboard</span>
    </a>
    <a mat-tab-link *ngIf="nodeType == 'Project'"
        [routerLink]="['projectDashboard']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">dashboard</mat-icon>
        <span class="hide-text">Dashboard</span>
    </a>
    <a mat-tab-link
        [routerLink]="['tree']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">navigation</mat-icon>
        <span class="hide-text">Tree</span>
    </a>
    <a mat-tab-link *ngIf="nodeType!=='Team'"
        [routerLink]="['chat']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">chat</mat-icon>
        <span class="hide-text">Chat</span>
    </a>
    <a mat-tab-link *ngIf="nodeType!=='Team'"
        [routerLink]="['tasks']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">check_box</mat-icon>
        <span class="hide-text">Tasks</span>
    </a>
    <a mat-tab-link *ngIf="nodeType=='Project'"
        [routerLink]="['scrumboard']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">view_column</mat-icon>
        <span class="hide-text">Scrumboard</span>
    </a>
    <a mat-tab-link *ngIf="nodeType!=='Team'"
        [routerLink]="['documents']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">attachment</mat-icon>
        <span class="hide-text">Documents</span>
    </a>
    <a mat-tab-link
        [routerLink]="['permissions']"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="tab-icon">accessibility</mat-icon>
        <span class="hide-text">Permissions</span>
    </a>
</nav> -->

<!-- ***********method 2 which didn't manage to get it to work ************* -->
<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="['/' + link.path]"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
    </a>
</nav> -->


<!-- Refer to: https://github.com/angular/material2/issues/2177#issuecomment-447787776  -->

<app-router-tab>
    <app-router-tab-item [routerLink]="['details']" label="Details" [routerLinkActiveOptions]="{exact: true}"></app-router-tab-item>	
    <app-router-tab-item *ngIf="nodeType=='Team'" [routerLink]="['teamDashboard']" label="Dashboard"></app-router-tab-item>	
    <app-router-tab-item *ngIf="nodeType=='Project'" [routerLink]="['projectDashboard']" label="Dashboard"></app-router-tab-item>
    <app-router-tab-item *ngIf="nodeType!=='Topic'" [routerLink]="['tree']" label="Tree"></app-router-tab-item>
    <app-router-tab-item *ngIf="nodeType!=='Team'" [routerLink]="['chat']" label="Chat"></app-router-tab-item>
    <app-router-tab-item *ngIf="nodeType!=='Team'" [routerLink]="['tasks']" label="Tasks"></app-router-tab-item>
    <app-router-tab-item *ngIf="nodeType=='Project'" [routerLink]="['scrumboard']" label="Scrumboard"></app-router-tab-item>
    <app-router-tab-item *ngIf="nodeType!=='Team'" [routerLink]="['documents']" label="Documents"></app-router-tab-item>
    <app-router-tab-item [routerLink]="['permissions']" label="Permissions"></app-router-tab-item>
</app-router-tab>


<div>
    <router-outlet></router-outlet>
</div>






