#spinner-div {
	position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 2000;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

mat-spinner {
	bottom: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
}