<div class="chat-wrap">

	<div class="chat-section" *ngFor="let message of messages; let i = index" [ngClass]="{
					'me': message.author === currentUser.username,
					'contact': message.author !== currentUser.username,
                    'last-of-group': isLastMessageOfGroup(message, i)
				}">
        <div class="chat-avatar">
        	<img *ngIf="message.attributes.authorAvatar  == null" src="./assets/images/img-1.png" class="avatar"/>
        	<img *ngIf="message.attributes.authorAvatar  != null" [src]="message.attributes.authorAvatar" class="avatar"/>
        </div>
        <div class="chat-title">
            <h3><a href="#">{{message.attributes.authorName}}</a></h3>
            <span>{{message.date_created}}</span>
        </div>
        <div class="chat-body">
            <p [innerHTML]="message.body"></p>
        </div>
    </div>

    <div class="chat-message">
        <input [(ngModel)]="chatMsg" type="text" placeholder="Type message..." class="form-control">
        <input type="submit" (click)="sendMessage(chatMsg); chatMsg=''" value="Send" class="btn btn-info">
    </div>

</div>

<!--
<div class="chat" *ngIf="canChat()">

	<div id="chat-content" (scroll)="onScroll($event)" #chatContainer>
		<div class="chat-messages">
			<div class="message-row" *ngFor="let message of messages; let i = index" 
				[ngClass]="{
					'me': message.author === currentUser.username,
					'contact': message.author !== currentUser.username,
                    'last-of-group': isLastMessageOfGroup(message, i)
				}">
				<img *ngIf="message.author !== currentUser.username && message.attributes.authorAvatar  == null" src="../../assets/images/avatars/profile.jpg" class="avatar"/>
				<img *ngIf="message.author !== currentUser.username && message.attributes.authorAvatar  != null" [src]="message.attributes.authorAvatar" class="avatar"/>

				<div class="bubble">
					<div>
						<span class="from">{{message.attributes.authorName}} <br></span>
						<span class="message" [innerHTML]="message.body"></span>
					</div>
					
					<div class="time from">{{message.date_created}}</div>
				</div>
				
			</div>
		</div>
	</div>

    <div class="chat-footer">

        <div class="reply-form">

            <form #replyForm="ngForm"
                  (ngSubmit)="sendMessage(chatMsg); chatMsg=''">

                <quill-editor [modules]="{toolbar: [['bold', 'italic', 'underline', 'strike', 'code-block']]}" [ngModelOptions]="{standalone: true}" [(ngModel)]="chatMsg" [sanitize]="true"></quill-editor>

                <button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
                    <mat-icon class="secondary-text">send</mat-icon>
                </button>

            </form>

        </div>

    </div>

</div>

<div *ngIf="!canChat()">
	Can not Chat
</div>
-->
