<mat-toolbar class="p-0 mat-elevation-z1">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar-row fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <span>
            <app-node-breadcrumbs></app-node-breadcrumbs>
        </span>
        <span class="fill-remaining-space"></span>

        <div class="toolbar-separator"></div>

        <span>
            <fuse-search-bar (onInput)="search($event)"></fuse-search-bar>
        </span>
    </mat-toolbar-row>


    
</mat-toolbar>