<mat-toolbar class="p-0 mat-elevation-z1">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar-row fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <!-- <span>
            <app-node-breadcrumbs></app-node-breadcrumbs>
        </span> -->
        <span class="fill-remaining-space"></span>

        <div class="toolbar-separator"></div>

        <span>
            <fuse-search-bar (onInput)="search($event)"></fuse-search-bar>
        </span>
    </mat-toolbar-row>

    <!-- <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="toggle-button-navbar"
                    *ngIf="!noNav"
                    (click)="toggleSidebarOpened('navbar')" fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="toolbar-separator" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNav">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/vpmo-logo-small.png">
                </div>
            </div> -->
            
            <!-- <div class="px-8 px-mat-16">
                <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
            </div> -->

        <!-- </div>

        <app-node-breadcrumbs fxFlex="1 0 auto"></app-node-breadcrumbs>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
            

            <div class="toolbar-separator"></div>

            <fuse-search-bar (onInput)="search($event)"></fuse-search-bar>

        </div>
    </div> -->
    
</mat-toolbar>
