<mat-toolbar class="p-0 mat-elevation-z1">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar-row fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button class="navbar-toggle-button"
                *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <div class="toolbar-separator" fxHide.gt-md></div>

        <span>
            <app-node-breadcrumbs></app-node-breadcrumbs>
        </span>
        <span class="fill-remaining-space"></span>

        <div class="toolbar-separator"></div>

        <span>
            <fuse-search-bar (onInput)="search($event)"></fuse-search-bar>
        </span>
    </mat-toolbar-row>


    
</mat-toolbar>