<div class="login-outer">
    <div class="login-wrap">
        <div class="logo-login">
            <a href="javascript:void(0)"><img src="./assets/images/logo.png" alt=""></a>
        </div>

            <form [formGroup]="loginForm" class="login-box" (ngSubmit)="login()">
                <h2>Login to your account</h2>
                <div class="wrap">
                    <label>Email</label>
                    <input formControlName="email" type="email" [ngClass]="{'error-input': email.invalid && (email.dirty || email.touched)}" required placeholder="avilov.design@gmail.com" class="form-control">
                </div>

                <div class="wrap">
                    <label>Password</label>
                    <input  formControlName="password" type="password" required [ngClass]="{'error-input': password.invalid && (password.dirty || password.touched)}" placeholder="&#183;&#183;&#183;&#183;&#183;&#183;&#183;&#183;" class="form-control field-password">
                </div>
                <div class="remember-wrap">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                    </div>
                    <a href="#" class="forget-password">Forgot password?</a>
                </div>

                <p class="error-p" *ngIf="errorMessage"><!-- {{errorMessage}} --> Please enter valid email and password</p>

                <div class="login-button-wrap">
                    <input [disabled]="!email.value || !password.value" type="submit" value="Login" >
                </div>
            </form><!-- login-box -->



        <div class="login-bot">
            <a [routerLink]="'/user/signup'">Don’t have an account?</a>
            <a [routerLink]="'/user/signup'">Create an account</a>
        </div>
    </div><!-- login-wrap -->
</div>