<div class="board-wrap">
    <div class="row" cdkDropList (cdkDropListDropped)="onDrop($event)" style="overflow-x: auto;"> <!-- TODO: This needs to be sortable -->
        <scrumboard-list
            class="scrumboard-list list-wrapper col-md-4"
            *ngFor="let list of lists"
            [list]="list"
            [nodeID]="nodeID"
            [nodeType]="nodeType"
            [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}"
            [allListIds]="listIds"
            cdkDrag>
        </scrumboard-list>

        <scrumboard-add-list class="new-list-wrapper col-md-4" (listAdded)="onListAdd($event)">
        </scrumboard-add-list>
    </div>
</div>

<!--
<mat-sidenav-container>

    <div id="board">


        <div fxFlex class="board-content-wrapper p-16 p-md-24">

            <div class="board-content ngx-dnd-container p-16 p-md-24" fxLayout="row"
                 ngxDroppable="list" [model]="lists" (drop)="onDrop($event)"
                 [@animateStagger]="{value:'50'}">

                <scrumboard-list
                    class="scrumboard-list list-wrapper ngx-dnd-item"
                    ngxDraggable
                    *ngFor="let list of lists"
                    [model]="list"
                    [list]="list"
                    [nodeID]="nodeID"
                    [nodeType]="nodeType"
                    [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </scrumboard-list>

                <scrumboard-add-list class="new-list-wrapper" (listAdded)="onListAdd($event)"
                                           ngxDraggable [moves]="false"
                                           [@animate]="{value:'*',params:{duration:'350ms',x:'100%'}}">
                </scrumboard-add-list>

            </div>
        </div>
    </div>
</mat-sidenav-container>
-->
