<div class="dialog-content-wrapper">

    <!-- Toolbar -->
    <mat-toolbar *ngIf="card" matDialogTitle color="primary">
        <!-- Toolbar Due Date Form Field -->
        <div class="due-date">
            <mat-form-field *ngIf="card.due_date">
                <input matInput [matDatepicker]="menuPicker" [(ngModel)]="card.due_date" (ngModelChange)="updateCard()">
                <mat-datepicker-toggle matSuffix [for]="menuPicker"></mat-datepicker-toggle>
                <mat-datepicker #menuPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- END Toolbar Due Date Form Field -->

        <!-- Options Toggle -->
        <button mat-icon-button class="" [matMenuTriggerFor]="optionsMenu">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="removeCard()">
                Remove Card
            </button>
        </mat-menu>
        <!-- END Options Toggle -->

        <span class="spacer"></span>

        <!-- Close Button -->
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close Dialog">
            <mat-icon>close</mat-icon>
        </button>
        <!-- END Close Button -->

    </mat-toolbar>
    <!-- END Toolbar -->

    <!-- Dialog Content -->
    <div class="content-wrapper" mat-dialog-contentt>

        <!-- List Title -->
        <div *ngIf="list" class="list-title">
            {{ list.title }}
        </div>
        <!-- END List Title -->

        <!-- Task Form -->
        <div class="general-form task-form">
            <div class="row">
                <div class="general-group col-md">
                    <label>Title</label>
                    <input class="form-control" type="text" [(ngModel)]="card.title" required (change)="updateCard()" />
                </div>
            </div>
            <div class="row">
                <div class="general-group col-md">
                    <label>Description</label>
                    <textarea class="form-control" [(ngModel)]="card.content" columns="1"
                          mat-maxlength="150" max-rows="4" (change)="updateCard()"></textarea>
                </div>
            </div>
        </div>
        <!-- END Task Form -->

        <user-search appearance="outline" class="w-100-p" class="card-assignee px-24" fxLayout="row" fxLayoutAlign="start center" [preselectedUser]="card.assignee.username" [searchUrl]="searchUrl" (userSelected)="assigneeChanged($event)"></user-search>

        <!-- Attachments -->
        <div class="attachments">
            <div class="list-title">
                <mat-icon class="mr-8">attachment</mat-icon>
                <span class="section-title">Attachments</span>
            </div>

            <input #file type="file" (change)="addAttachment($event)" style="display: none;">
            <button (click)="file.click()" mat-stroked-button class="add-attachment-button" aria-label="add attachment">
                Add an attachment
            </button>
        </div>
        <!-- END Attachments -->

    </div>
    <!-- END Dialog Content -->

    <!--
    <div *ngIf="card" mat-dialog-content class="py-24 px-0 m-0" fusePerfectScrollbar>

        <user-search appearance="outline" class="w-100-p" class="card-assignee px-24" fxLayout="row" fxLayoutAlign="start center" [preselectedUser]="card.assignee.username" [searchUrl]="searchUrl" (userSelected)="assigneeChanged($event)"></user-search>

        <div class="sections">

            <div class="section">

                <div class="attachments">

                    <div class="section-header" fxLayout="row" fxLayoutAlign="start">
                        <mat-icon class="mr-8">attachment</mat-icon>
                        <span class="section-title">Attachments</span>
                    </div>

                    <div class="section-content">

                        <div fxLayout="column" fxLayoutAlign="start" fxLayoutWrap fxLayout.gt-sm="row">

                            <div class="attachment" fxFlex="33" *ngFor="let item of card.documents">


                                <div fxLayout="column" fxLayoutAlign="start">

                                    <div class="attachment-content mt-8" fxLayout="row"
                                         fxLayoutAlign="start center">

                                        <div fxFlex>

                                            <div fxLayout="row" fxLayoutAlign="start start">
                                                <span class="attachment-name">{{item.document_name}}</span>
                                            </div>

                                            <span class="attachment-time">{{item.uploaded_at | date:"short"}}</span>

                                        </div>

                                        <button mat-icon-button class="attachment-actions-button"
                                                [matMenuTriggerFor]="attachmentActionsMenu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>

                                        <mat-menu #attachmentActionsMenu="matMenu">
                                            <button mat-menu-item (click)="removeAttachment(item)">
                                                Remove Attachment
                                            </button>
                                            <a [href]="item.document_url" target="_blank">
                                                <button mat-menu-item>
                                                    Download File
                                                </button>
                                            </a>
                                        </mat-menu>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <input #file type="file" (change)="addAttachment($event)" style="display: none;">
                        <button (click)="file.click()" mat-stroked-button class="add-attachment-button" aria-label="add attachment">
                            Add an attachment
                        </button>

                    </div>

                </div>

            </div>


            <div class="section">

                <div class="comments">

                    <div class="section-header" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="mr-8">comment</mat-icon>
                        <span class="section-title">Comments</span>
                    </div>

                    <div class="section-content">

                        <form name="cardCommentForm"
                              #newCommentForm="ngForm" (submit)="addNewComment(newCommentForm)"
                              class="comment new-comment" fxLayout="column" fxLayoutAlign="start" no-validate>

                            <div fxLayout="row" fxLayoutAlign="center center">

                                <img class="comment-member-avatar" src="assets/images/avatars/profile.jpg">

                                <mat-form-field class="mr-12" appearance="outline" fxFlex>
                                    <mat-label>Comment</mat-label>
                                    <input matInput name="newComment" ngModel #newComment="ngModel" required>
                                </mat-form-field>

                                <button mat-mini-fab class="mat-accent"
                                        [disabled]="!newCommentForm.valid || newCommentForm.pristine"
                                        aria-label="Add">
                                    <mat-icon>add</mat-icon>
                                </button>

                            </div>

                        </form>

                        <div class="comment" fxLayout="row" fxLayoutAlign="start center"
                             *ngFor="let comment of card.comments">

                            <img class="comment-member-avatar"
                                 [src]="board.members | getById: comment.idMember:'avatar'">

                            <div fxLayout="column">
                                <div class="comment-member-name">
                                    {{board.members | getById: comment.idMember:'name'}}
                                </div>
                                <div class="comment-bubble">{{comment.message}}</div>
                                <div class="comment-time secondary-text">{{comment.time}}</div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    -->
</div>