<ng-container *ngIf="layout == 'vertical'">

    <div class="navbar-top">

        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/RadConsultantsLogo3.png">
            <!-- <span class="logo-text">VPMO</span> -->
        </div>

        <button mat-icon-button class="toggle-button-navbar"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-button-navbar"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon>arrow_back</mat-icon>
        </button>

    </div>

    <div class="navbar-scroll-container">

        <div *ngIf="isLoggedIn" class="user" fxLayout="column" >

            <div class="h3 username">{{ fullname }}</div>
            <div class="h5 email hint-text mt-8">{{ user.email}}</div>
            <div class="avatar-container">
                <img *ngIf="user != null && user.avatar == null" class="avatar" src="assets/images/avatars/profile.jpg">
                <img *ngIf="user != null && user.avatar != null" class="avatar" [src]="user.avatar">
                
            </div>

        </div>

        <div class="navbar-content" fusePerfectScrollbar>
            <!-- {{team}} -->
            <!-- <app-node-navigation></app-node-navigation> -->
            <fuse-navigation layout="vertical"></fuse-navigation>
            <!-- {{navigation}} -->
        </div>

    </div>



</ng-container>

<ng-container *ngIf="layout == 'horizontal'">

    <div class="navbar-horizontal">
        <fuse-navigation [navigation]="navigation" layout="horizontal"></fuse-navigation>
    </div>

</ng-container>