<div class="list new-list mat-elevation-z1">

    <button *ngIf="!formActive" mat-button class="btn btn-info" (click)="openForm()">
        <mat-icon class="red">add</mat-icon>
        Add a list
    </button>

    <form *ngIf="formActive" class="new-list-form row" [formGroup]="form" (submit)="onFormSubmit()">

        <input class="col-md-6" formControlName="name" #nameInput placeholder="Write a list Name">

        <button mat-icon-button class="col-md-3">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button class="col-md-3" (click)="closeForm()">
            <mat-icon>close</mat-icon>
        </button>
    </form>
</div>

