<div class="header">
  My Teams
  <button mat-icon-button (click)="openTeamCreateDialog(createTeamDialog)">
    <mat-icon> add </mat-icon>
  </button>
  
</div>

<div class="card-container">
  <mat-card class="dashboard-card" *ngFor='let team of teams' style="width:100%">
    <mat-card-header>
      <mat-card-title>
        <button mat-button (click)="getNode(team._id)">{{team.name}} <span class="node-label-left team-label">team</span></button>
        <span style="position: absolute; right: 10px;" *ngIf="team.unreadMessages != undefined && team.unreadMessages == 0"  (click)="openUnreadMessagesPanel(team)">
          <mat-icon style="color: darkgray" >chat_bubble</mat-icon>
        </span>
        <span style="position: absolute; right: 10px;" *ngIf="team.unreadMessages != undefined && team.unreadMessages > 0"  (click)="openUnreadMessagesPanel(team)">
          <mat-icon style="color: black" [matBadge]="team.unreadMessages" matBadgeColor="warn">chat_bubble</mat-icon>
        </span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="node-counts">
        <button mat-stroked-button > {{ team.members_count }} <span class="material-icons">person</span> </button>
        <button mat-stroked-button routerLink="'/node/Team/' + team._id + '/teamDashboard'"> {{ team.projects_count || 0 }} <span class="node-label-btm project-label">Project</span> </button>
        <button mat-stroked-button (click)="openListPanel(team._id, 'Issue')">{{ team.topic_counts.Issue || 0 }} <span class="node-label-btm issue-label">issue</span> </button>
        <button mat-stroked-button (click)="openListPanel(team._id, 'Risk')">{{ team.topic_counts.Risk || 0 }} <span class="node-label-btm risk-label">risk</span> </button>
        <button mat-stroked-button (click)="openListPanel(team._id, 'Deliverable')">{{ team.topic_counts.Deliverable || 0 }} <span class="node-label-btm deliverable-label">Deliverable</span> </button>
        <button mat-stroked-button (click)="openListPanel(team._id, 'Task')">{{ team.topic_counts.Task || 0 }} <span class="node-label-btm task-label">Task</span> </button>
      </div>
    </mat-card-content>

    <!-- <mat-card-actions>
      <button mat-button (click)="getNode(team._id)">View Details</button>
    </mat-card-actions> -->

  </mat-card>
</div>

<ng-template #createTeamDialog>
  <h4>Create Team</h4>
  <mat-form-field class="full-width">
    <input [(ngModel)]="newTeamName" matInput />
  </mat-form-field>

  <div style="text-align: center;" class="full-width">
    <button (click)="createNewTeam()" mat-raised-button matTooltip="Creates the team">Create Team</button>
  </div>
</ng-template>