@import "src/@fuse/scss/fuse";
@import "src/app/shared/global-style.less";

:host {
	padding: 24px;
}


.topic-label {
	font-size: x-small;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
}

