@import "src/@fuse/scss/fuse";
@import "team-dashboard.component.scss";

:host {
    width: 100%;
    padding: 12px;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    
    mat-grid-list {
      width: 100%
    }
}

.example-card {
  max-width: 400px;
  display: inline-block;
  width: 100%;
  margin: 8px;
  vertical-align: top;
  cursor: pointer;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


// .node-counts {
// 	display: flex;
// 	flex-direction: column;
// }

.unread-badge {
    background-color: #ffb300;
    color: white;
}