<div class="header">
  <h1>My Teams
    <button mat-icon-button (click)="openTeamCreateDialog(createTeamDialog)">
      <mat-icon> add </mat-icon>
    </button>
  </h1>
</div>

<div class="card-container">
  <mat-card class="example-card" *ngFor='let team of teams' style="width:100%">
    <mat-card-header>
      <mat-card-title>
        <img src="../../assets/icons/Team-T-Icon.svg" height="15" width="15">
        <span class="pl-4"><b>{{team.name}}</b></span>
        <!-- <button *ngIf="team.unreadMessages != undefined" mat-icon-button class="unread-badge">
          {{ team.unreadMessages }}
        </button> -->
        <span *ngIf="team.unreadMessages != undefined"  (click)="openUnreadMessagesPanel(team)">
          <mat-icon [matBadge]="team.unreadMessages" matBadgeColor="warn">chat_bubble</mat-icon>
        </span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="node-counts">
        <div class="deliverables">{{ team.members_count }} <br> <span class="small-text">Member</span></div>
        <div class="deliverables">{{ team.projects_count || 0 }} <br> <span class="small-text">Project</span></div>
        <div class="issues">{{ team.topic_counts.Issue || 0 }} <br> <span class="small-text">Issue</span></div>
        <div class="risks">{{ team.topic_counts.Risk || 0 }} <br> <span class="small-text">Risk</span></div>
        <div class="deliverables">{{ team.topic_counts.Deliverable || 0 }} <br> <span class="small-text">Deliverable</span></div>
        <div class="tasks">{{ team.Task || 0 }} <br> <span class="small-text">Task</span></div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="getNode(team._id)">View Details</button>
    </mat-card-actions>

  </mat-card>
</div>

<ng-template #createTeamDialog>
  <h4>Create Team</h4>
  <mat-form-field class="full-width">
    <input [(ngModel)]="newTeamName" matInput />
  </mat-form-field>

  <div style="text-align: center;" class="full-width">
    <button (click)="createNewTeam()" mat-raised-button matTooltip="Creates the team">Create Team</button>
  </div>
</ng-template>