.example-card {
  max-width: 400px;
  display: inline-block;
  width: 80%;
  margin: 20px;
  vertical-align: top;
  cursor: pointer;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
