<div>
	<h1>Projects</h1>

	<mat-card class="example-card" *ngFor='let project of projects'>

  <mat-card-header>
    <mat-card-title>
      <img src="../../assets/icons/Project-P-Icon.svg" height="15" width="15">
      <span class="pl-4"><b>{{project.name}}</b></span>
      <button *ngIf="project.unreadMessages != undefined" mat-icon-button class="unread-badge">
        {{ project.unreadMessages }}
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>{{ project.members_count }} Members</div>

    <div class="node-counts">
      <div class="topic">{{ project.topic_counts.Issue || 0 }} <span class="node-label issue">i</span></div>
      <div class="topic risks">{{ project.topic_counts.Risk || 0 }} Risks</div>
      <div class="topic deliverables">{{ project.topic_counts.Deliverable || 0 }} Deliverables</div>
      <div class="topic tasks">{{ project.Task || 0 }} Tasks</div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="goToNode(project)">View Details</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>

</mat-card>

</div>