@import "src/@fuse/scss/fuse";
@import "src/app/shared/global-style.less";

:host {

    width: 100%;
    // padding: 5px;
   
    // -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    
    mat-grid-list {
      width: 100%
    }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.header {
  background-color: cyan;
  text-align: left;
  font-size: 5vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}


.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


// .node-counts {
// 	display: flex;
// 	flex-direction: column;
// }

.unread-badge {
    background-color: #ffb300;
    color: white;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1024px) {
  .example-card {
    flex: 50%;
    max-width: 45%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .example-card {
    flex: 100%;
    max-width: 100%;
  }
}