<h1>Documents</h1>

<div *ngIf="canUploadDocuments()">
	<input (change)="uploadDocuments($event)" id="input-file-id" multiple type="file" multiple />
	<!--<label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>-->
</div>

<div>
	<table mat-table [dataSource]="uploadedDocuments">
		<ng-container matColumnDef="document_name">
	        <th mat-header-cell *matHeaderCellDef> Name </th>
	        <td mat-cell *matCellDef="let doc"> {{ doc.document_name }} </td>
	    </ng-container>

	    <ng-container matColumnDef="document_size">
	        <th mat-header-cell *matHeaderCellDef> Size </th>
	        <td mat-cell *matCellDef="let doc"> {{ doc.document_size }} B </td>
	    </ng-container>

	    <ng-container matColumnDef="uploaded_by">
	    	<th mat-header-cell *matHeaderCellDef> Uploaded By </th>
	        <td mat-cell *matCellDef="let doc"> {{ doc.uploaded_by }} </td>
	    </ng-container>
	    <ng-container matColumnDef="uploaded_at">
	    	<th mat-header-cell *matHeaderCellDef> Uploaded At </th>
	        <td mat-cell *matCellDef="let doc"> {{ doc.uploaded_at }} </td>
	    </ng-container>

	    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	</table>
</div>