<div *ngIf="nodeID">
	<div *ngIf="canUploadDocuments()" class="choose-wrap">
		<label for="input-file-id" class="btn btn-info">Choose Files</label>
		<input class="btn btn-info" style="display: none;" (change)="uploadDocuments($event)" id="input-file-id" multiple type="file" />
		<!--<label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>-->
	</div>

	<div class="table-section">
		<table style="table-layout: fixed;" class="table table-general table-documents">
	        <thead>
	            <tr>
	                <th>Name</th>
	                <th>Size</th>
	                <th>Uploaded by</th>
	                <th>Uploaded at</th>
	                <th>Utils</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr *ngFor="let doc of uploadedDocuments">
	                <td>{{ doc.document_name }}</td>
	                <td>{{ doc.document_size }} KB</td>
	                <td>
	                    {{ doc.uploaded_by }}
	                </td>
	                <td>{{ doc.uploaded_at }}</td>
	                <td>
	                    <div class="table-edits">
	                        <a (click)="deleteDocument(doc)" *ngIf="canUploadDocuments()" data-toggle="tooltip" data-placement="top" title="Trash">
	                            <img src="./assets/images/icons/icon-trash.png" alt="">
	                        </a>
	                        <a (click)="openRenameDialog(renameDialog, doc)" *ngIf="canUploadDocuments()" data-toggle="tooltip" data-placement="top" title="Edit">
	                            <img src="./assets/images/icons/icon-edit.png" alt="">
	                        </a>
	                        <a [href]="doc.document_url" target="_blank" data-toggle="tooltip" data-placement="top" title="Download">
	                            <img src="./assets/images/icons/icon-download.png" alt="">
	                        </a>
	                    </div>
	                </td>
	            </tr>
	        </tbody>
	    </table>

		<ng-template #renameDialog>
	        <h4>Renaming {{ renamingDocument.document_name }}</h4>
	        <mat-form-field class="full-width">
		    	<input [(ngModel)]="renamingDocument.document_name" matInput />
		  	</mat-form-field>

		  	<div style="text-align: center;" class="full-width">
				<button (click)="renameDocument(renamingDocument)" mat-raised-button matTooltip="Renames the document in storage">Rename Doc</button>
			</div>
	    </ng-template>
	</div>
</div>